.amount-btn {
  display: inline-block;
  user-select: none;
  background-color: rgb(73, 79, 136);
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  color: #fff;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  margin: 0 !important;
}
