body {
  background-color: #ddd;
}
/***** navbar ****/

.navbar {
  background-color: #ddd;

  &-brand {
    img {
      height: 70px;
    }
  }
  &-nav {
    font-size: 1.2rem;
  }
  .cart-icon {
    position: relative;
    span {
      position: absolute;
      top: -2px;
      right: 0;
      font-size: 0.7em;
      font-weight: 700;
      color: #fff;
      background-color: tomato;
      padding: 0.1em 0.5em;
      border-radius: 1em;
    }
  }
}

/***** header *****/

header {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    text-transform: uppercase;
    color: #fff;
  }
}

/***** PRODUCTS ****/
.products {
  h2 {
    text-transform: uppercase;
  }
  &-wraper {
    display: grid;
    gap: 15px;
    .product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 8px #000;
      padding: 10px;
      text-align: center;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }
      h4 {
        flex: 1;
        margin: 15px auto;
      }
    }
  }

  &-row {
    &-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-5 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

footer {
  background-color: #000;
  color: #fff;
  .container {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }
  p {
    margin-right: 20px;
  }
  .list-group {
    list-style: none;
    li {
      line-height: 2;
    }
  }
}

/***** single-product ****/
.single-product {
  .row {
    & > div {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
    }
    .col {
      & > div {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 20px;
        justify-content: flex-start;
      }
      & > img {
        width: 100%;
        height: 400px;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  }
  .product-image {
    flex: 1;
    max-width: 150px;
    img {
      width: 100%;
      height: 100px;
      object-fit: contain;
      cursor: pointer;
    }
  }
  .table {
    tr {
      td:last-child {
        text-align: right;
      }
    }
  }
}

/***** cart-page ****/
.cart {
  &-page {
    display: flex;
    aside {
      flex: 1;
      max-width: 300px;
      margin-right: 20px;
    }
    article {
      flex: 1;
    }
    ul {
      span {
        float: right;
        font-weight: 700;
      }
    }
  }
  &-product {
    img {
      height: 150px;
      width: 200px;
      object-fit: contain;
    }
    p {
      margin: 0;
    }
  }
}

/***** checkout-wraper *****/
.checkout-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000, 0.5);
  z-index: 2;
  overflow: hidden;
  form {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    gap: 10px;
    position: relative;
    left: 100%;

    transform-origin: left bottom;
    animation-name: from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    input {
      width: 100%;
    }
    button {
      flex: 1;
    }
  }

  @keyframes from-left {
    0% {
      left: 100%;
      transform: skewX(-20deg);
    }
    90% {
      left: -10%;
      transform: skewX(-20deg);
    }

    100% {
      left: 0;
      transform: skewX(0deg);
    }
  }
}
